@charset "utf-8";
/* CSS Document */

 /*通用的样式*/
 body{font-family:'Microsoft Yahei';}
 .commonwidth{width:1200px;margin:0 auto;}
 .fl{float:left;}
 .fr{float:right;}

/*header*/
/*topnav*/
.topnav{width:100%;height:29px;border-bottom:1px solid #eee; background:#f5f5f5;padding-top:10px;}
.topnavcontent ul{float:right;}
.topnav li{height:18px;float:left;border-right:1px dotted #cbcbcb;padding-right:15px; padding-left:15px;}
.topnav a{ line-height:18px;color:#666; font-size:12px;}
.topnav .br0{border-right:none;padding-right:0;}
.wechat{width:16px;height:16px; background:url(../img/i_wx_single.png) no-repeat; display:inline-block; margin-right:3px;}
.qq{width:16px;height:16px; background:url(../img/mls_global140607.png) no-repeat -188px -21px; display:inline-block; margin-right:3px;}
.myshoppingcart{width:19px;height:16px; display:inline-block; margin-right:3px; background:url(../img/mls_global140607.png) no-repeat 0 -163px;}
.topnav .cartbtn{ height:15px;background:url(../img/m.png) repeat-x; display:inline-block;line-height:15px;color:#fff;  font-size:9px;text-decoration:none;margin-left:7px;margin-top:1px;}
	.l{width:6px;height:15px;background:url(../img/l.png) no-repeat;float:left;display:block;}
	.r{width:6px;height:15px;background:url(../img/r.png) no-repeat;float:right;display:block;}
.myorder{width:13px;height:15px; display:inline-block; margin-right:3px; background:url(../img/mls_global140607.png) no-repeat -223px -45px;}
.downloadapp{width:10px;height:16px; display:inline-block; margin-right:3px; background:url(../img/mls_global140607.png) no-repeat -171px -45px;}

/*logobox*/
.logobox{height:51px;padding-bottom:15px;}
.logo{margin-top:15px;}
.logo {width:106px; height:36px;text-indent:-999em; background:url(../img/logo_n4.png) no-repeat center center;}
.searchbox{margin-top:17px;margin-left:253px;}


/*mainnav*/
.mainnav{width:100%;height:40px; background:#ff6599;}
.mainnav ul{margin-left:126px;}
.mainnav li{float:left;}
.mainnav a{display:inline-block;height:40px;padding-left:14px;padding-right:15px;font-size:14px; font-weight:bold; color:#fff; text-align:center; line-height:40px;position:relative;}
.bghard{background:#ed3577;}
.mainnav a:hover{background:#ed3577;}
.tringle{ width:5px;height:4px;background:url(../img/mls_global140607.png) no-repeat -66px -70px; display:inline-block;position:absolute; top:50%;right:5px; margin-top:-1px;}

/*content*/
/*bannerbox*/
.bannerbox{height:575px;background:url(../img/banner.jpg) repeat-x center 0; position:relative;}
.sidebar{height:572px; border:1px solid #e6e6e6; background:#fff;padding:0 20px;}
.sidebar li{height:103px; width:198px;border-bottom:1px dotted #e6e6e6; padding-top:12px;}
.sidebar p{position:relative;}
.sidebar .tringle{width:5px;height:9px;background:url(../img/tringle2.png) no-repeat 0 0; position:absolute; right:-25px;top:50%;margin-top:-4px;}
.sidebar h3{font-size:16px; font-weight:bold;color:#ff6f9f; margin-bottom:4px;}
.hot{width:15px;height:17px;background:url(../img/icon.png)no-repeat 0 0;display:inline-block; margin-right:13px;}
.cloth{width:18px;height:14px;background:url(../img/icon.png)no-repeat 0 -17px;display:inline-block; margin-right:13px;}
.shoes{width:18px;height:15px;background:url(../img/icon.png)no-repeat 0 -31px;display:inline-block; margin-right:13px;}
.bag{width:17px;height:14px;background:url(../img/icon.png)no-repeat 0 -46px;display:inline-block; margin-right:13px;}
.jewel{width:12px;height:16px;background:url(../img/icon.png)no-repeat 0 -60px;display:inline-block; margin-right:13px;}
.sidebar p{width:177px;}
.sidebar a{font-size:12px; color:#666; line-height:24px; float:left;margin-right:15px;}
.sidebar .bb0{border-bottom:none;}
.banner_r img{display:block;}
.banner_b img{float:left; margin-right:10px;}
.banner_b{position:absolute; top:430px;left:328px;}

/*hotitem*/
.hotitem h2{width:1200px;border-bottom:1px solid #e6e6e6;margin-top:20px; padding-bottom:7px;}
.star{width:157px;height:25px;background:url(../img/wel_ico2.png) no-repeat 0 0;}
.hotitemcontent li{float:left; margin-top:15px; margin-right:24px;width:170px;}
.iteminfo{height:53px; border-bottom:1px dotted #cbcbcb; padding-top:5px;padding-bottom:12px; margin-bottom:10px;}
.iteminfo .p1{font-size:12px; color:#666; height:24px;line-height:18px;}
.iteminfo .p2{font-size:14px; color:#ff6699; margin-top:23px;}
.iteminfo .p2 span{text-decoration:line-through;font-size:12px; color:#999; margin-left:9px;}
.buyernum{font-size:12px; color:#666;}